<h1><%= @teams[:name] %></h1>

<h2>Team Motto: <%= @teams[:motto] %></h2>

<h2>Hero Name: <%= @teams[:heroes][0][:name] %></h2>

<h4>Hero Power: <%= @teams[:heroes][0][:power] %><h4>
<h4>Hero Biography: <%= @teams[:heroes][0][:bio] %><h4>

<h2>Hero Name: <%= @teams[:heroes][1][:name] %></h2>

<h4>Hero Power: <%= @teams[:heroes][1][:power] %><h4>
<h4>Hero Biography: <%= @teams[:heroes][1][:bio] %><h4>

<h2>Hero Name: <%= @teams[:heroes][2][:name] %></h2>

<h4>Hero Power: <%= @teams[:heroes][2][:power] %><h4>
<h4>Hero Biography: <%= @teams[:heroes][2][:bio] %><h4>
